body {
	font-family: monospace;
	font-size: 14px;
	background-color: #181616;
	color: #d3d5d3;
	padding: 10px;
}

div, p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #fade99;
}

a:visited {
	color: #faefcf;
}

a:hover, .folderName:hover {
	text-decoration: underline;
}

.folderName {
	color: #d3d5d3 !important;
}
