body {
	font-family: monospace;
	font-size: 14px;
	background-color: #ffdde8;
	color: #9d034d;
	padding: 10px;
}

div, p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #f43756;
}

a:visited {
	color: rgb(255, 162, 204);
}

a:hover, .folderName:hover {
	text-decoration: underline;
}

.folderName {
	color: #9d034d !important;
}
